@page "/"
@layout LandingPageLayout

<PageTitle>AI Chef Remsey - Maak je volgende maaltijd</PageTitle>

<div class="page">
    <div class="pagestyle">
        <nav class="row align-items-center p-2">
            <div class="col text-end me-3">
                <a href="https://www.remsey.nl" target="_blank">Over Remsey</a>
            </div>
        </nav>
        <main class="landingPage">
            <div class="text-center">
                <img src="images/AiChefLogoLight.png" height="300" />
            </div>
            <div class="text-center mt-5">
                <a href="/maakmaaltijd" class="btn btn-success btn-lg">
                    Begin met koken
                </a>
            </div>
        </main>

        <footer class="text-center">
            &copy; Remsey Mailjard
        </footer>
    </div>
</div>